 
<div class="row bg-dark-blue">
  <div class="col-md-1 padding-LR-0px">
      <a class="logoAnchr" href="/">
          <img   src="./assets/images/icons/c_alpha_logo.png" alt="logo">
        </a>
  </div>
  <div class="col-md-9 padding-LR-0px">
      <nav class="navbar navbar-expand-sm  navbar-dark padding-LR-0px">  
          <ul class="navbar-nav navigation-menu">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a class="nav-link" routerLink="/signin">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Compliance Management</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/coe" class="nav-link" >Code of Ethics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Marketing Review</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Cyber Security</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Trade surveillance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Help</a>
            </li>
          </ul>
        </nav>
  </div>
  <div class="col-md-2 padding-LR-0px">
    <ul class="notifyIcons">
      <li><a><img src="./assets/images/icons/ic_search.png"/></a></li>
      <li><a><img src="./assets/images/icons/ic_notification.png"/></a></li>
      <li><a><img src="./assets/images/icons/ic_setttings.png"/></a></li>
    </ul>
  </div>

</div>

 

 
